body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;

}

a:hover {
  color: #ffffff;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding: 100px;
}

.middle-container {
  margin: 100px 0
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.skill-row {
  text-align: left;
  width: 50%;
  margin: 100px auto 100px auto
}

.skill1-img {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.skill2-img {
  width: 20%;
  float: right;
  margin-left: 30px;
}

.pro {
  text-decoration: underline;
}

.intro {
  margin: auto;
  width: 30%
}

.contact-message {
  margin: 40px auto 60px;
  width: 40%
}

.civ-ed {

}s
.copyright {
  font-size: 0.75rem;
  color: #EAF6F6;
  padding: 20px 0px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px
}

.profile-img {
  border-radius: 50%;
}

.styled {
  text-shadow: 5px 5px 20px #000000;
  line-height: 2.5;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-weight: 100;
  font-family: arial;
  border: 0;
  padding: 0px 20px;
  font-size: 1rem;
  text-align: center;
  color: #ffffff;
  border-radius: 8px;
  background-color: #66BFBF;
  box-shadow: 1px 1px 10px 0px #000;
}

.styled:hover {
  background-color: #30E3CB;
}

.styled:active {
  box-shadow: 1px 1px 10px 0px #000;
